:root{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding:0;
    margin:0;
    border:0;
    font-size: 1.77rem;
}

.container{
    display: flex;
    height: 100vh;
}

.image-container{
    display: flex;
    flex: 1;
    background-color: aqua;
    background-size:cover;
    background-position: center;
    background-image: url(./cologne.jpg) ;
    
}

.form-container{
    display: flex;
    flex: 3;
    background-color: aliceblue;
}

@media (max-width: 500px) {
    .container {
      flex-direction: column; /* Change flex direction to column */
    }
}
