:root{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
    --form-padding: 1.5em;
    --visibility: hidden;
}

body{
    padding:0;
    margin:0;
    border:0;
}

h1,h3,p,sub{
    margin: 0;
    color: white;
}

.container{
    display: flex;
    min-height: 100vh;
}

.image-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-size:cover;
    background-position: center;
    background-image: url(./cologne.jpg);
    min-height: 200px;
}

.logo{
    display: inline-flex;
    position: relative;
    padding: clamp(5vw, 1em, 10vw);
    background-color: oklch(100% 1 360 / 0.09);
    flex: 1;
    height: 100%;
    background-image: url(./600px-IEM_Cologne_2023_lightmode.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    box-sizing: border-box;
}

.logo a{
    text-decoration: none;
    color:white;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: clamp(1.5rem,2.5vw,3rem);
}

.form-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    background:linear-gradient(to top,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
   /*padding: clamp(2vw, 3em, 10vw);*/
}

.text-content,form,.registered-user{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: clamp(1em, calc(5vw + 1em), 2em);
    box-sizing: border-box;
}

.text-content{
    justify-content: flex-end;
    margin-top: 10px;
    padding: var(--form-padding);
}

.text-content h1{
    font-size: clamp(1em, calc(6vw + 1em), 2em);
    color: #FFD300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.text-content h1,.text-content p,.text-content sub{
    margin-top: max(1em,20px);
}


.registered-user{
    padding: var(--form-padding);
}

.registered-user a{
    text-decoration: none;
    color: #FFD300;
    bottom: 0;
    right: 0;
}

section.information{
    padding: var(--form-padding);
    background-color: rgba(255, 255, 255, 0.77);
    border-block: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px;
}

section ul{
    list-style: none;
    padding-left: 0;
    margin:0;
}

section li{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1em;
    margin-right: max(5vw, 2em);
    width: min(50vw,400px);
}

section.information h1{
   color: #FFD300;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section input{
    padding: 8px 4px;
}

label{
    position: relative;
}

input:focus-visible{
    outline: none;
    border: 1px solid blue;
}

input:required + span::after{
    position: absolute;
    content: "*";
    color: red;
    top:0;
    right: 0;
}

section.button{
    padding: 1em;
}

button{
    padding: 1em 2%;
    background-color: #73bb34;
    border: none;
    border-radius: 1em;
    color: black;
    font-weight: bold;
    font-size: large;
    box-shadow: 0px 15px 10px -15px #111;
}

.legal{
    display: inline-block;
    margin-top:2.5em;
    word-wrap: break-word;
}

@media (max-width: 500px) {
    .container {
      flex-direction: column; /* Change flex direction to column */
    }

    .logo{
        height: 200px;
    }
}
