:root{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
}

body{
    min-height: 100vh;
    padding:0;
    margin:0;
    border:0;
    font-size: 1.77rem;
}

.container{
    display: flex;
    height: 100vh;
}

.image-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-size:cover;
    background-position: center;
    background-image: url(./cologne.jpg);
}

.logo{
    display: inline-flex;
    position: relative;
    padding: clamp(2vw, 1em, 10vw);
    background-color: oklch(100% 1 360 / 0.09);
    flex: 1;
    height: 100%;
    background-image: url(./600px-IEM_Cologne_2023_lightmode.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    box-sizing: border-box;
}

.logo a{
    text-decoration: none;
    color:white;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: clamp(1.5rem,2.5vw,3rem);
}

.form-container{
    display: flex;
    flex: 2;
    background-color: aliceblue;
}

@media (max-width: 500px) {
    .container {
      flex-direction: column; /* Change flex direction to column */
    }
}
